<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Commit : View</title>

<link href="http://cdn.jsdelivr.net/webjars/org.webjars.bower/diff2html/2.0.10/dist/diff2html.min.css"
          th:href="@{/webjars/diff2html/2.0.10/dist/diff2html.min.css}"
          rel="stylesheet" media="screen" />
          
<script src="http://cdn.jsdelivr.net/webjars/org.webjars.bower/diff2html/2.0.10/dist/diff2html.min.js"
            th:src="@{/webjars/diff2html/2.0.10/dist/diff2html.min.js}"></script>
       
<script src="http://cdn.jsdelivr.net/webjars/org.webjars.bower/diff2html/2.0.10/dist/diff2html-ui.min.js"
            th:src="@{/webjars/diff2html/2.0.10/dist/diff2html-ui.min.js}"></script>
            
</head>
<body>
	<h1 layout:fragment="header"><span th:text="${commit.firstLineOfMessage()}"></span></h1>
	<div layout:fragment="content" class="container">
	<script>
		var patches = [];
	</script>
	
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Some Success message</div>
		
		<div class="pull-right" style="margin-bottom:10px;">
			<a href="projects" class="btn btn-default" th:href="@{'/projects/' + ${commit.project.id}}">
				back </a>
		</div>
			
		<table class="table table-bordered table-striped">
			<tr>
				<th>ID</th>
				<td th:text="${commit.id}">id</td>
			</tr>
			<tr>
				<th>Name</th>
				<td th:text="${commit.firstLineOfMessage()}">name</td>
			</tr>
			<tr>
				<th>Changes</th>
				<td th:text="${commit.getChanges()}">changes</td>
			</tr>
			<tr>
				<th>Additions</th>
				<td th:text="${commit.additions}">additions</td>
			</tr>
			<tr>
				<th>Deletions</th>
				<td th:text="${commit.deletions}">deletions</td>
			</tr>
			<tr>
				<th>Files changed</th>
				<td th:text="${commit.files.size()}">files changed</td>
			</tr>
			<tr>
				<th>Date</th>
				<td th:text="${#dates.format(commit.getDate(), 'dd-MM-yyyy HH:mm')}">date</td>
			</tr>
			<tr>
				<th>Ref</th>
				<td th:text="${commit.ref}">ref</td>
			</tr>
			<tr>
				<th>Number of issues assigned to this commit</th>
				<td th:text="${commit.getCommitIssues().size()}">count</td>
			</tr>
			<tr>
				<th>Parent commit</th>
				<td><a href="projects" th:if="${commit.parentCommit}" th:href="@{'/projects/' + ${commit.project.id} + '/commits/' + ${commit.parentCommit.id}}" th:text="${commit.parentCommit.firstLineOfMessage()}">parent commit</a></td>
			</tr>
			<tr>
				<th colspan="2">Message</th>
			</tr>
			<tr>
				<td colspan="2" th:utext="${#strings.replace(commit.message, newLineChar, '&lt;br /&gt;')}">message</td>
			</tr>
		</table>
		
		<h2>Issue list</h2>
		<table class="table table-bordered table-striped table-condensed">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Type</th>
				<th>Priority</th>
			</tr>
			<tr th:each="issue : ${commit.commitIssues}">
				<td><a th:href="@{'/projects/' + ${commit.project.id} + '/issues/' + ${issue.id}}" th:text="${issue.id}">id</a></td>
				<td th:text="${issue.name}">name</td>
				<td th:text="${issue.type}">type</td>
				<td th:text="${issue.priority}">priority</td>
			</tr>
			</table>
		
		<h2>File list</h2>
		<table class="table table-bordered table-striped table-condensed">
			<tr>
				<th>ID</th>
				<th>ChangeType</th>
				<th>Path</th>
				<th>Additions</th>
				<th>Deletions</th>
				<th>Changes</th>
			</tr>
			<tr th:each="file : ${commit.files}">
				<td><a href="projects" th:href="@{'/projects/' + ${commit.project.id} + '/commits/' + ${commit.id} + '/files/' + ${file.id}}" th:text="${file.id}">id</a></td>
				<td th:text="${file.changeType}">changeType</td>
				<td>
					<span th:if="(${file.newPath} eq ${file.oldPath})" th:text="${file.newPath}">onlyone</span>
					<span th:if="(${file.getChangeType().toString()} eq 'ADD')" th:text="${file.newPath}">newfile</span>
					<span th:if="(${file.getChangeType().toString()} eq 'DELETE')" th:text="${file.oldPath}">deletedfile</span>
					<span th:if="(${file.getChangeType().toString()} eq 'RENAME' or ${file.getChangeType().toString()} eq 'COPY')" th:utext="'new: ' + ${file.newPath} + '&lt;br /&gt;old: ' + ${file.oldPath}">both</span>
				</td>
				<td th:text="${file.additions}">additions</td>
				<td th:text="${file.deletions}">deletions</td>
				<td th:text="${file.getChanges()}">changes</td>
				<script th:inline="javascript">
					p = [[${file.patch}]];
					patches.push(p);
				</script>
			</tr>
			</table>
		
		<div id="patch_input"></div>
		
		<script th:inline="javascript">
		var patch = "";
		for(i = 0; i < patches.length; i++) {
			patch += patches[i];
		}
		
		var diff2htmlUi = new Diff2HtmlUI({diff: patch});
		diff2htmlUi.draw('#patch_input', {
			inputFormat: 'diff',
			showFiles: true,
			outputFormat: 'line-by-line',
			matching: 'lines'
		});
		diff2htmlUi.fileListCloseable('#patch_input', false);

		</script>
		
		<!-- <div class="pull-left">
			<a href="form.html" class="btn btn-primary"
				th:href="@{'/projects/modify/' + ${project.id}}"> modify </a>
			<a href="projects" class="btn btn-danger" th:href="@{'/projects/delete/' + ${project.id}}">
				delete </a>
			<a href="projects" class="btn btn-default" th:href="@{'/projects'}">
				back </a>
		</div> -->
	</div>
</body>
</html>