<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Metrics : Change metrics : View</title>

<link href="http://cdn.jsdelivr.net/webjars/org.webjars.bower/diff2html/2.0.10/dist/diff2html.min.css"
          th:href="@{/webjars/diff2html/2.0.10/dist/diff2html.min.css}"
          rel="stylesheet" media="screen" />
          
<script src="http://cdn.jsdelivr.net/webjars/org.webjars.bower/diff2html/2.0.10/dist/diff2html.min.js"
            th:src="@{/webjars/diff2html/2.0.10/dist/diff2html.min.js}"></script>
       
<script src="http://cdn.jsdelivr.net/webjars/org.webjars.bower/diff2html/2.0.10/dist/diff2html-ui.min.js"
            th:src="@{/webjars/diff2html/2.0.10/dist/diff2html-ui.min.js}"></script>
            
</head>
<body>
	<h1 layout:fragment="header"><span th:text="${project.name}"></span></h1>
	<div layout:fragment="content" class="container">

		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Some Success message</div>
		
		<div class="pull-right" style="margin-bottom:10px;">
			<a href="projects" class="btn btn-default" th:href="@{'/projects/' + ${project.id}}">
				back to project </a>
		</div>
		
		
		<form th:action="@{'/projects/'+${project.id}+'/metrics/changemetrics'}" action="#" method="post" class="form-inline">
		  <div class="form-group">
		    <label for="name">For which commits in the project</label><br />
		    <select name="everycommits" th:field="${cmf.everyCommits}">
		    	<option th:each="range : ${cmf.commitRanges}" th:value="${range}" th:text="${'Every ' + range + 'th commit'}"></option>
		    </select>
		  </div>
		  
		  <div class="form-group">
		    <label for="url">Time range back</label>
		    
		    
		    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
			    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
			    <span></span> <b class="caret"></b>
			</div>
			<input type="hidden" id="startRange" th:field="${cmf.startRange}" />
			<input type="hidden" id="endRange" th:field="${cmf.endRange}" />
			
			<script type="text/javascript">
			$(function() {
			
				var startVal = "[[${cmf.getStartRangeString()}]]";
				var endVal = "[[${cmf.getEndRangeString()}]]";
				
				var start = startVal != "" ? moment(startVal, "MM/DD/YYYY") : moment().subtract(29, 'days');
			    var end = endVal != "" ? moment(endVal, "MM/DD/YYYY") : moment();
			
			    function cb(start, end) {
			        $('#reportrange span').html(start.format('L') + ' - ' + end.format('L'));
			        $('#startRange').val(start.format('MM/DD/YYYY'));
			        $('#endRange').val(end.format('MM/DD/YYYY'));
			    }
			
			    $('#reportrange').daterangepicker({
			        startDate: start,
			        endDate: end,
			        ranges: {
			           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
			           'Last 14 Days': [moment().subtract(13, 'days'), moment()],
			           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
			           'Last 3 Months': [moment().subtract(3, 'months'), moment()],
			           'Last 6 Months': [moment().subtract(6, 'months'), moment()],
			           'Last 12 Months': [moment().subtract(12, 'months'), moment()],
			           'Last 18 Months': [moment().subtract(18, 'months'), moment()],
			           'Last 2 Years': [moment().subtract(2, 'years'), moment()],
			           'Last 3 Years': [moment().subtract(3, 'years'), moment()]
			        }
			    }, cb);
			
			    cb(start, end);
			    
			});
			</script>
		  </div>
			  
		  <div class="form-group">
			<input type="submit" class="btn btn-success" value="Save" />
		  </div>

		</form>	

			
		<table class="table table-bordered table-striped">
			<tr>
				<th>ID</th>
				<td th:text="${project.id}">id</td>
			</tr>
			<tr>
				<th>Name</th>
				<td th:text="${project.name}">name</td>
			</tr>
			<tr>
				<th>Number of files</th>
				<td th:text="${changeMetrics.size()}">number of files</td>
			</tr>
			<tr>
				<th>Number of commits involved in analysis</th>
				<td th:text="${cm.size()}">Number of commits</td>
			</tr>
			<tr>
				<th>Job to calculate change metrics</th>
				<td><a href="view.html" th:href="@{'/batch/jobs/' + ${project.id} + '_' + ${project.name} + '_metrics'}">Batch Job</a></td>
			</tr>
		</table>
		
		<h2>Change metrics commits (<span th:text="${cm.size()}"></span>)</h2>
		<table class="table table-bordered table-striped table-condensed" dt:table="true">
		<tr>
			<th>ID</th>
			<th>Commit date</th>
			<th>FirstLineOfMessage</th>
			<th>Amount of metrics</th>
		</tr>
		<tr th:each="e : ${cm}">
			<td><a th:text="${e.key.id}" href="projects" th:href="@{'/projects/' + ${project.id} + '/metrics/changemetrics/' + ${e.key.id}}">id</a></td>
			<td></td>
			<td th:text="${e.key.firstLineOfMessage()}">firstLineOfMessage</td>
			<td th:text="${e.value.size()}">amount of metrics</td>
		</tr>
		</table>
		
		<div class="alert alert-info" role="alert" th:if="${changeMetrics.isEmpty()}">No change metrics available. First start the job.</div>
	</div>
</body>
</html>