<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Metrics : Change metrics : View</title>

<link href="http://cdn.jsdelivr.net/webjars/org.webjars.bower/diff2html/2.0.10/dist/diff2html.min.css"
          th:href="@{/webjars/diff2html/2.0.10/dist/diff2html.min.css}"
          rel="stylesheet" media="screen" />
          
<script src="http://cdn.jsdelivr.net/webjars/org.webjars.bower/diff2html/2.0.10/dist/diff2html.min.js"
            th:src="@{/webjars/diff2html/2.0.10/dist/diff2html.min.js}"></script>
       
<script src="http://cdn.jsdelivr.net/webjars/org.webjars.bower/diff2html/2.0.10/dist/diff2html-ui.min.js"
            th:src="@{/webjars/diff2html/2.0.10/dist/diff2html-ui.min.js}"></script>
            
</head>
<body>
	<h1 layout:fragment="header"><span th:text="${project.name}"></span></h1>
	<div layout:fragment="content" class="container">

		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Some Success message</div>
		
		<div class="pull-right" style="margin-bottom:10px;">
			<a href="projects" class="btn btn-default" th:href="@{'/projects/' + ${project.id}}">
				back to project </a>
		</div>
			
		<table class="table table-bordered table-striped">
			<tr>
				<th>ID</th>
				<td th:text="${project.id}">id</td>
			</tr>
			<tr>
				<th>Name</th>
				<td th:text="${project.name}">name</td>
			</tr>
		</table>
		
		<h2>Change metrics</h2>
		<table class="table table-bordered table-striped table-condensed">
			<tr>
				<th>File</th>
				<th>Revisions</th>
				<th>Refactorings</th>
				<th>Bugfixes</th>
				<th>Authors</th>
				<th>Age (Weeks)</th>
				<th>Weighted Age (Weeks)</th>
			</tr>
			<tr th:each="cm : ${changeMetrics}">
				<td th:text="${cm.file}">file</td>
				<td th:text="${cm.revisions}">revs</td>
				<td th:text="${cm.refactorings}">refactorings</td>
				<td th:text="${cm.bugfixes}">bugfixes</td>
				<td th:text="${cm.authors}">authors</td>
				<td th:text="${cm.age}">weeks</td>
				<td th:text="${cm.weightedAge != 0 ? #numbers.formatDecimal(cm.weightedAge, 0, 2) : 0}">weighted Age</td>
			</tr>
		</table>
	</div>
</body>
</html>