<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>CommitFile : View</title>

<link href="http://cdn.jsdelivr.net/webjars/org.webjars.bower/diff2html/2.0.10/dist/diff2html.min.css"
          th:href="@{/webjars/diff2html/2.0.10/dist/diff2html.min.css}"
          rel="stylesheet" media="screen" />
          
<script src="http://cdn.jsdelivr.net/webjars/org.webjars.bower/diff2html/2.0.10/dist/diff2html.min.js"
            th:src="@{/webjars/diff2html/2.0.10/dist/diff2html.min.js}"></script>
       
<script src="http://cdn.jsdelivr.net/webjars/org.webjars.bower/diff2html/2.0.10/dist/diff2html-ui.min.js"
            th:src="@{/webjars/diff2html/2.0.10/dist/diff2html-ui.min.js}"></script>

</head>
<body>
	<h1 layout:fragment="header"><span th:text="${commitFile.newPath}"></span></h1>
	<div layout:fragment="content" class="container">
	
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Some Success message</div>
		
		<table class="table table-bordered table-striped">
			<tr>
				<th>ID</th>
				<td th:text="${commitFile.id}">id</td>
			</tr>
			<tr>
				<th>ChangeType</th>
				<td th:text="${commitFile.changeType}">changeType</td>
			</tr>
			<tr>
				<th>newPath</th>
				<td th:text="${commitFile.newPath}">newPath</td>
			</tr>
			<tr>
				<th>oldPath</th>
				<td th:text="${commitFile.oldPath}">oldPath</td>
			</tr>
			<tr>
				<th>Changes</th>
				<td th:text="${commitFile.getChanges()}">changes</td>
			</tr>
			<tr>
				<th>Additions</th>
				<td th:text="${commitFile.additions}">additions</td>
			</tr>
			<tr>
				<th>Deletions</th>
				<td th:text="${commitFile.deletions}">deletions</td>
			</tr>
			<tr>
				<th>Parent commit</th>
				<td><a href="projects" th:href="@{'/projects/' + ${commitFile.commit.project.id} + '/commits/' + ${commitFile.commit.id}}">parent commit</a></td>
			</tr>
		</table>

		<div id="patch_input"></div>
		
		<script th:inline="javascript">
		var patch = [[${commitFile.patch}]];
		var result = Diff2Html.getPrettyHtml(patch, {

		  // the format of the input data: 'diff' or 'json', default is 'diff'
		  inputFormat: 'diff',

		  // the format of the output data: 'line-by-line' or 'side-by-side'
		  outputFormat: 'line-by-line', 

		  // show a file list before the diff: true or false,
		  showFiles: false,
		  
		  rawTemplates: ["icon-file-added", "icon-file-changed", "icon-file-deleted", "icon-file-renamed"]

		});
		$("#patch_input").append(result);
		</script>
	
		<!-- <div class="pull-left">
			<a href="form.html" class="btn btn-primary"
				th:href="@{'/projects/modify/' + ${project.id}}"> modify </a>
			<a href="projects" class="btn btn-danger" th:href="@{'/projects/delete/' + ${project.id}}">
				delete </a>
			<a href="projects" class="btn btn-default" th:href="@{'/projects'}">
				back </a>
		</div> -->
	</div>
</body>
</html>