<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %t %c{2}:%L - %m%n" />
		</layout>
	</appender>
	
	<logger name="org.springframework.integration">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.batch">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.jdbc">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.transaction">
		<level value="info" />
	</logger>


	<category name="org.repodriller">
        <priority value="WARN"/>
        <appender-ref ref="main"/>
    </category>
    
    <category name="ch.unibe.scg.metrics">
        <priority value="WARN"/>
        <appender-ref ref="main"/>
    </category>
    
    <category name="com.github.mauricioaniche.ck">
        <priority value="WARN"/>
        <appender-ref ref="main"/>
    </category>
    
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>