<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Projects : Create</title>
</head>
<body>
<div th:fragment="form">		
		
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">
					Validation error</p>
			</div>
			
		
			  <div class="form-group">
			    <label for="name">Name</label>
			    <input type="text" class="form-control" id="name" placeholder="Name" th:field="*{name}">
			  </div>
			  
			  <div class="form-group">
			    <label for="url">GIT URL</label>
			    <input type="text" class="form-control" id="url" placeholder="GIT URL" th:field="*{url}">
			  </div>
			  
			  <div class="form-group">
			    <label for="branch">Branch Name</label>
			    <input type="text" class="form-control" id="branch" placeholder="e.g. master" th:field="*{branch}">
			  </div>
			  
			  <div class="form-group">
			    <label for="type">Issue Tracker Type</label>
				    <select id="type" class="form-control" th:field="*{type}">
						<option value="JIRA">Jira</option>
						<option value="GITHUB">Github</option>
						<option value="BUGZILLA">Bugzilla</option>
				</select>
			  </div>
			  
			  <div class="form-group">
			    <label for="issueTrackerUrlPattern">Issue Tracker URL</label>
			    <input type="text" class="form-control" id="issueTrackerUrlPattern" placeholder="Issue Tracker URL" th:field="*{issueTrackerUrlPattern}">
			    <span id="helpBlock" class="help-block"><strong>%s</strong> can be used as placeholder for the Issue-ID<br />
			    e.g. Apache Issues: https://issues.apache.org/jira/si/jira.issueviews:issue-xml/%s/%s.xml<br />
			    Github Issues: https://github.com/elastic/elasticsearch<br />
			    Attlassian Cloud: https://hibernate.atlassian.net/si/jira.issueviews:issue-xml/%s/%s.xml
			    </span>
			  </div>

			
</div>
</body>
</html>