<html xmlns:th="http://www.thymeleaf.org"
	xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Projects : View</title>
</head>
<body>
	<h1 layout:fragment="header"><span th:text="${project.name}"></span> : Details</h1>
	<div layout:fragment="content" class="container">
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Some Success message</div>
		
		<div class="pull-right" style="margin-bottom:10px;">
			<a href="projects" class="btn btn-danger" th:href="@{'/projects/delete/' + ${project.id}}">
				delete </a>
			<a href="projects" class="btn btn-default" th:href="@{'/projects'}">
				back </a>
		</div>
		
		<table class="table table-bordered table-striped">
			<tr>
				<th>ID</th>
				<td th:text="${project.id}">id</td>
			</tr>
			<tr>
				<th>Name</th>
				<td th:text="${project.name}">name</td>
			</tr>
			<tr>
				<th>GIT URL</th>
				<td th:text="${project.url}">url</td>
			</tr>
			<tr>
				<th>Issue Tracker Type</th>
				<td th:text="${project.type}">type</td>
			</tr>
			<tr>
				<th>Issue Tracker URL (with pattern)</th>
				<td th:text="${project.issueTrackerUrlPattern}">trackerurl</td>
			</tr>
			<tr>
				<th>Options</th>
				<td><a href="projects" th:href="@{'/projects/' + ${project.id} + '/analyze'}">Analyze</a> |&nbsp;
					<a href="view.html" th:href="@{'/batch/jobs/' + ${project.id} + '_' + ${project.name}}">Batch Job</a> |&nbsp;
					<a href="projects" th:href="@{'/projects/' + ${project.id} + '/issues'}">Issues</a>
					</td>
			</tr>
		</table>
		
		<h2>Commits (<span th:text="${project.commits.size()}"></span>)</h2>
		<table class="table table-bordered table-striped table-condensed" dt:table="true">
		<tr>
			<th>ID</th>
			<th>Issues</th>
			<th>Additions</th>
			<th>Deletions</th>
			<th>FirstLineOfMessage</th>
		</tr>
		<tr th:each="commit : ${project.commits}">
			<td><a th:text="${commit.id}" href="projects" th:href="@{'/projects/' + ${project.id} + '/commits/' + ${commit.id}}">id</a></td>
			<td th:text="${commit.getCommitIssues().size()}">issues</td>
			<td th:text="${commit.additions}">additions</td>
			<td th:text="${commit.deletions}">deletions</td>
			<td th:text="${commit.firstLineOfMessage()}">firstLineOfMessage</td>
		</tr>
		</table>

	</div>
</body>
</html>